header
  .wrapper
    .top-wrapper
      a(href="/auth/join") JOIN
      a(href="/auth/login") LOGIN
      a(href="/auth/logout") LOGOUT
    .header-wrapper
      h1.logo-wrapper
        a(href="/")
          .img-wrap
            img.w-100(src="/img/icon.png")
          span EUNJEONG
      ul.navi-wrapper
        li.navi(herf="/board") BOARD
        li.navi(herf="/api") API BOARD
        li.navi(herf="/gallery") GALLERY