header
  .top-wrapper
    .wrapper
      a(href="/auth/join") JOIN
      a(href="/auth/login") LOGIN
      a(href="/auth/logout") LOGOUT
  .header-wrapper
    .wrapper
      h1.logo-wrapper
        a(href="/")
          .img-wrap
            img.w-100(src="/img/icon.png")
          span EUNJEONG
      .navi-wrapper
        a.navi(herf="/board") BOARD
        a.navi(herf="/api") API BOARD
        a.navi(herf="/gallery") GALLERY
      .mobile-wrapper
        i.fa.fa-bars.navi(onclick="onMoblie()")
  ul.mobile-sub
		li.sub
			a(href="/board") BOARD
		li.sub
			a(href="/api") API BOARD
		li.sub
			a(href="/gallery") GALLERY