.join-wrapper {
  max-width: 700px;
  .join-wrap {
    border: 1px solid $colorLighter;
    padding: 2em 3em;
    border-radius: 8px;
    .list {
      padding: .5em 0 0.25em 0;
      @include flex($FS, $CT);
      &:not(:last-child) {
        border-bottom: 1px solid $colorLighter;
        input {width: 300px;}
      }
      .title {
        padding: 0.25em 0;
        width: 120px;
        flex-shrink: 0;
        border-right: 2px solid $colorGreen;
        margin-right: 1.5em;
      }
      .content {
        flex-grow: 1;
        .comment {
          font-size: $sm;
          padding: 0.25em 0;
          &.danger { color: red; }
          &.active { color: rgb(42, 106, 218); }
        }
      }
    }
  }
}