.list-wrapper {
	.grid-item {
		border: 1px solid $colorLighter;
	}
	.grid-item,
	.grid-sizer {
		width: 18%;
		padding: 1%;
		margin: 1%;
		@include desktop {
			width: 22.5%;
			padding: 1.25%;
			margin: 1.25%;
		}
		@include laptop {
			width: 30.3333%;
			padding: 1.5%;
			margin: 1.5%;
		}
		@include tablet {
			width: 46.5%;
			padding: 1.75%;
			margin: 1.75%;
		}
		@include mobile {
			width: 96%;
			padding: 2%;
			margin: 2%;
		}
	}
}